body {
    font-family: Arial, sans-serif;
}


.Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
}

.logo .green {
    color: #28a745;
}

.logo .red {
    color: #d32f2f;
}

.nav-menu ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.banner {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.banner-text h2 {
    font-size: 64px;
    font-weight: bold;
}

.banner-text p {
    font-size: 32px;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff0c4;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}


.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.content {
    flex: 1;
    padding: 20px;
}


.Produits {
    display:flex;
    gap: 20px;
    margin-bottom: 30px;
}

.corps {
    display: flex;
    flex-direction: row;
}

.photo-produit {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #333;
    
}

.Prix {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.infos-produit {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
    max-width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
}