body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff0c4;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 1px solid #ddd;
}


.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.content {
    flex: 1;
    padding: 20px;
}


.Produits {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.photo-produit {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.info h4 {
    margin: 10px;
    font-size: 24px;
}

.Prix {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 10px;
}

.infos-produit {
    font-size: 16px;
    color: #333;
}
