
.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #2e7d32;
}

.logo span {
    color: #c62828; /* rouge pour "Maraîcher" */
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.icons img {
    width: 24px;
    margin-left: 15px;
}

/* Bannière */
.banner {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #fff;
}

.banner-text h2 {
    font-size: 32px;
    margin: 0;
}

.banner-text p {
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff0c4;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}


.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.content {
    flex: 1;
    padding: 20px;
}


.Produits {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.photo-produit {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #333;
    
}

.Prix {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.infos-produit {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
    max-width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
}