body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff0c4;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}


.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.content {
    flex: 1;
    padding: 20px;
}


.Produits {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.photo-produit {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #333;
    
}

.Prix {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.infos-produit {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
    max-width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
}